---
import "@/styles/global.css"
import BaseHead from "@/components/BaseHead.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
const { title, description } = Astro.props
import { SITE } from "@/consts"
import Container from "@/components/Container.astro"
import Drawer from "@/components/Drawer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <!-- Light Mode: Particles -->
    <div class='absolute inset-0 -z-50 block dark:hidden'>
      <div id='particles1' class='fixed inset-0'></div>
      <div id='particles2' class='fixed inset-0'></div>
      <div id='particles3' class='fixed inset-0'></div>
    </div>

    <!-- Dark Theme: Stars -->
    <div class='absolute inset-0 -z-50 bg-black hidden dark:block'>
      <div id='wparticles1' class='fixed inset-0'></div>
      <div id='wparticles2' class='fixed inset-0'></div>
      <div id='wparticles3' class='fixed inset-0'></div>
    </div>
    <script is:inline src="/saulo-resume-page/js/bg.js"></script>

    <Header />
    <Drawer />
    <Container size="md">
      
      <main>
        <slot />
      </main>
      <Footer />
    </Container>
  </body>
</html>